<div class="card border-secondary mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <span> 12:00 - 14:00 </span>
            </div>
            <div class="col-md-2">
                <span> 14:30 - 16:30 </span>
            </div>
            <div class="col-md-2">
                <span> 17:00 - 19:00 </span>
            </div>
            <div class="col-md-2">
                <span> 19:30 - 21:30 </span>
            </div>
            <div class="col-md-2">
                <span> 22:00 - 00:00 </span>
            </div>
        </div>
    </div>
</div>